@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
}

@layer components {
    .custom-logo-link {
        @apply flex items-center;
    }

    .custom-logo {
        @apply h-10 w-auto;
    }

    /* === DESKTOP MENU === */
    .desktop-menu>li {
        @apply relative;
    }

    /* panah bawah */
    .desktop-menu>.menu-item-has-children>a::after {
        content: "▾";
        @apply ml-1 text-sm text-gray-400;
    }

    /* dropdown hidden */
    .desktop-menu>.menu-item-has-children>ul {
        @apply absolute left-0 top-full hidden min-w-45 bg-white rounded-lg shadow py-2 z-50;
    }

    /* dropdown item */
    .desktop-menu>.menu-item-has-children>ul li a {
        @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100;
    }

    /* show on hover */
    .desktop-menu>.menu-item-has-children:hover>ul {
        @apply block;
    }

    /* submenu default hidden */
    .mobile-menu .menu-item-has-children>ul {
        @apply hidden ml-4 mt-2 border-l pl-4 border-gray-200;
    }

    /* submenu active */
    .mobile-menu .menu-item-has-children.open>ul {
        @apply block;
    }

    /* submenu arrow */
    .mobile-menu .menu-item-has-children>a::after {
        content: "▾";
        @apply float-right text-sm text-gray-400;
    }


}